* {
  margin: 0;
  padding: 0;
}

#main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

#world {
  border: 1px solid black;
}
